{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}

    {{ range $filtered.GroupByDate "2006" }}
    {{ $id := lower (replace .Key " " "-") }}
        {{ range .Pages }}
            <!-- <div class="article-page"> -->
            <div class="article-list">
                <!-- {{ partial "article/post" . }} -->
                {{ partial "article/components/post-list" . }}
            </div>
        {{ end }}
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}
